<h1>Demo#Hello</h1> <br>

ID: <%= @id %> <br>

Next Page: <%= @page +1 %> <br>

<%= 1+1 %> <br>

<% target="world" %>

<%= "Hello #{target}" %> <br>

<% 3.times do %>
aaa:<%= 'xxx' %> <br>
<% end %>

<%= link_to("My first link",{:action => 'index' }) %>  <br>

<hr/>
 <%= params.inspect %>