<%= form_tag projects_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
</p>
<% end %>

<% @projects.each do |project| %>
    <%= link_to project.project_name,project_path(project) %>
    <%= link_to "Edit", edit_project_path(project) %> <br><br>
<% end %>
<br><br>
<%= link_to "New Project", new_project_path %>